
/* background colors */
:root{
    --dark: #06283D;
    --dark1: #1363DF;
    --light: #47B5FF;
    --light1: #DFF6FF;
}
/* header section ......*/
/*  ........................................................................*/
header{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 20px;
    height: 60px;
}
.head{
    color: var(--light1);
    font-size: 300%;
    font-style: oblique;
    justify-content: baseline;
}
.headlogo{
    height: 80px;
    width: 80px;
}
.accountlogo{
    height: 50px;
    width: 50px;
}
.rightimg{
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 95%;
    margin-top: 2%;
}
/*  ........................................................................*/
/* header section end */
.body{
    background-color: var(--light);
    margin-left: -8px;
    margin-right: -8px;
    height: 600px;
    flex-direction: column;
    background-repeat: no-repeat;
    display: grid;
}

.record{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    width: 50%;
    height: 100px;
    margin-left: 25%;
    color: var(--light1);
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.searchbar{
    display: flex;
    width: 48%;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: var(--light1);
    border-radius: 5px;    
    border: var(--dark1) 4px solid;
}
.searchcourses{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0%;
    text-decoration: none;
    background-color: var(--light1);
}
#search{
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}

#search-button, #signup, #login{
    background-color: var(--dark);
    color: var(--light1);
    border: none;
    padding: 10px 20px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
}
#signup, #login{
   height: 40px;
   width: 100px;
}

.signupin{
    display: flex;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    justify-content: space-evenly;
}
/*-------------slidebar----------*/
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, var(--dark) 0%, var(--light) 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    box-sizing: border-box;
    cursor: pointer;
    position:absolute;
    z-index: 99;
    top: 60px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.a:hover{
    background-color: #FFEECC;
    
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
